.button-primary {
    border: 0;
    padding: var(--padding-5xs) var(--padding-base);
    background-color: var(--primary);
    border-radius: var(--br-36xl);
    display: flex;
    justify-content: center;
    color: var(--color-white);
}

.button-secondary {
    border: 2px solid var(--primary);
    padding: var(--padding-6xs) var(--padding-base);
    background-color: transparent;
    border-radius: var(--br-36xl);
    display: flex;
    justify-content: center;
    color: var(--primary);
}

.button-tertiary {
    padding: var(--padding-3xs) var(--padding-3xs);
    border-radius: var(--br-36xl);
    display: flex;
    justify-content: center;
    color: var(--accent-turquoise);
}