.button-primary {
    border: 0;
    padding: var(--padding-8px) var(--padding-16px);
    background-color: var(--primary);
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--color-white);
}

.button-primary--blue-bg {
    border: 0;
    padding: var(--padding-8px) var(--padding-16px);
    background-color: var(--accent-turquoise);
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--primary);
}

.button-secondary {
    border: 2px solid var(--primary);
    padding: var(--padding-6px) var(--padding-16px);
    background-color: transparent;
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--primary);
}

.button-secondary--blue-bg {
    border: 2px solid var(--color-white);
    padding: var(--padding-6px) var(--padding-16px);
    background-color: transparent;
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--color-white);
}

.button-tertiary {
    padding: var(--padding-10px) var(--padding-10px);
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--accent-turquoise);
}

.icon-button {
    background-color: transparent;
    padding: var(--padding-10px);
}

.submit-button {
    border: 0;
    padding: var(--padding-8px) var(--padding-16px);
    background-color: var(--primary);
    border-radius: var(--br-4px);
    display: flex;
    justify-content: center;
    color: var(--color-white);
}