.button-primary {
    border: 0;
    padding: var(--padding-8px) var(--padding-16px);
    background-color: var(--primary);
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--color-white);
}
  
.button-primary:hover {
    border: 2px solid var(--dark-purple);
    padding: 0.6rem 1.4rem;
    background-color: rgba(93, 25, 255, 0.90);
}

.button-primary:focus,          
.button-primary:active {
    background-color: var(--dark-purple);
}

.button-primary--blue-bg {
    border: 0;
    padding: var(--padding-8px) var(--padding-16px);
    background-color: var(--accent-turquoise);
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--primary);
}

.button-primary--blue-bg:hover {
    background: rgba(13, 255, 235, 0.8);
}

.button-primary--blue-bg:focus,
.button-primary--blue-bg:active {
    background: rgba(13, 255, 235, 0.9);
}

.button-secondary {
    border: 2px solid var(--primary);
    padding: var(--padding-6px) var(--padding-16px);
    background-color: transparent;
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--primary);
}

.button-secondary:hover {
    background-color: var(--base-gray);
}

.button-secondary:focus,
.button-secondary:active {
    background-color: #D8D8D8;
}

.button-secondary--blue-bg {
    border: 2px solid var(--color-white);
    padding: var(--padding-6px) var(--padding-16px);
    background-color: transparent;
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--color-white);
}

.button-secondary--blue-bg:hover {
    background: rgba(231, 233, 234, 0.1);
}

.button-secondary--blue-bg:focus,
.button-secondary--blue-bg:active {
    background: rgba(231, 233, 234, 0.1);
}

.button-tertiary {
    padding: var(--padding-10px) var(--padding-10px);
    border-radius: var(--br-55px);
    display: flex;
    justify-content: center;
    color: var(--accent-turquoise);
}

.button-tertiary:focus,
.button-tertiary:hover {
    background: var(--dark-purple);
}

.icon-button {
    background: transparent;
    padding: var(--padding-10px);
}

.submit-button {
    border: 0;
    padding: var(--padding-8px) var(--padding-16px);
    background-color: var(--primary);
    border-radius: var(--br-4px);
    display: flex;
    justify-content: center;
    color: var(--color-white);
}

.submit-button:hover {
    border: 2px solid var(--dark-purple);
    padding: 0.6rem 1.4rem;
    background-color: rgba(93, 25, 255, 0.90);
}

.submit-button:focus,          
.submit-button:active {
    background-color: var(--dark-purple);
}