html {
  font-size: 62.5%; /* sets 10px = 1rem */
  box-sizing: border-box;
  background-color: var(--color-white);
  margin-top: 7.2rem;
}

body {
  margin: 0;
  line-height: normal;
}

/* Set border-box to all the elements */

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
list-style: none;
margin: 0;
padding: 0;
}

li {
margin: 0;
padding: 0;
}

form {
  all: unset;
}


:root {
  /* fonts */
  --base-font: "Fira Sans";
  --titles-font: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --h1-desktop-size: 4.2rem;
  --h1-mobile-size: 3.8rem;
  --h2-desktop-size: 4rem;
  --h3-desktop-size: 2.8rem;
  --h4-desktop-size: 2rem;
  --h4-mobile-size: 1.8rem;
  --h5-desktop-size: 2rem;
  --h6-desktop-size: 1.6rem;
  --body-desktop-size: 1.6rem;
  --button-desktop-size: 1.6rem;
  --base-font-size: 1.6rem;
  --label-desktop-size: 1.6rem;

  /* Colors */
  --primary: #5d19ff;
  --dark-purple: #4324A3;
  --dark-base: #002340;
  --accent-turquoise: #0dffeb;
  --base-blue: #008EFF;
  --base-gray: #e7e9ea;
  --color-white: #fff;
  --color-aqua-100: rgba(13, 255, 235, 0.2);
  --color-black: #000;

  /* Gaps */
  --gap-0: 0rem;
  --gap-4px: 0.4rem;
  --gap-8px: 0.8rem;
  --gap-16px: 1.6rem;
  --gap-18px: 1.8rem;
  --gap-20px: 2rem;
  --gap-32px: 3.2rem;
  --gap-48px: 4.8rem;
  --gap-64px: 6.4rem;

  /* Paddings */
  --padding-6px: 0.6rem;
  --padding-8px: 0.8rem;
  --padding-10px: 1rem;
  --padding-16px: 1.6rem;
  --padding-20px: 2rem;
  --padding-32px: 3.2rem;
  --padding-48px: 4.8rem;
  --padding-100px: 10rem;
  --padding-150px: 15rem;
  --padding-200px: 20rem;

  /* Margins */
  
  --margin-64px: 6.4rem;
  --margin-100px: 10rem;

  /* border radiuses */
  --br-4px: 0.4rem;
  --br-7px: 0.7rem;
  --br-8px: 0.8rem;
  --br-10px: 1rem;
  --br-16px: 1.6rem;
  --br-55px: 5.5rem;
  --br-500px: 50rem;
}

.animate {
  opacity: 0;
  /* display: none; */
  transition: opacity 0.5s;
}

.animate.show {
  opacity: 1;
}
