/* _______________________________________________________________  Section */

.testimonials {
    display: flex;
    flex-direction: column;
    gap: var(--gap-32px);
    /* padding-left: var(--padding-16px); */
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap; */
}

.testimonials__title {
    text-align: center;
}

/* _______________________________________________________________  Carousel container with All Buttons and the indicator */

.testimonials__carousel {
    max-width: 108em;
    margin: 0 auto;
    overflow: hidden;
}

/* _______________________________________________________________  Carousel container with left and right Buttons */

.testimonials__carousel-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -20px;
    padding: 0 20px;
}

.testimonials__carousel-left-button-desktop,
.testimonials__carousel-right-button-desktop {
    display: none;
}

.testimonials__carousel-items-window {
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 0 20px;
}

.testimonials__carousel-items-holder {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}

/* _______________________________________________________________  Card / item */

.testimonials__carousel-item {
    /* flex: 1; */
    border-radius: var(--br-10px);
    background-color: var(--color-aqua-100);
    padding: var(--padding-32px) var(--padding-20px);
    gap: var(--gap-18px);
    /* width: calc(33.3vw - 172px); */
    flex: 0 0 calc(50% - 20px);
    flex-shrink: 0;
}

.testimonials__carousel-item-text-block {
    align-self: stretch;
    width: auto;
}

.testimonials__carousel-item,
.testimonials__carousel-item-text-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.testimonials__carousel-item-image {
    position: relative;
    border-radius: var(--br-500px);
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.testimonials__carousel-item-text-block{
    align-self: stretch;
    gap: var(--gap-16px);
}


/* _______________________________________________________________________________________________Tablet */

@media screen and (min-width: 390px) {
    .testimonials__carousel-items-window {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }
}



/* _______________________________________________________________________________________________Small Laptop */
@media screen and (min-width: 720px) {

    .testimonials__carousel-items-window {
        scroll-snap-type: x mandatory;
        scroll-padding: 0 20px;
    }

    .testimonials__carousel-item {
        scroll-snap-align: start;
    }

    .testimonials__carousel-item {
        flex: 0 0 calc(33.3% - 20px);
    }

    .testimonials__carousel-left-button-desktop,
    .testimonials__carousel-right-button-desktop {
    display: block;
    }

}


/* _______________________________________________________________________________________________Desktop */

@media screen and (min-width: 1200px) {

    .testimonials__carousel {
        margin: 0 20rem;
        align-self: center;
    }

    .testimonials__carousel-items {
        margin: 0;
    }
}