/* _______________________________________________________________  Section */

.testimonials {
    display: flex;
    flex-direction: column;
    gap: var(--gap-32px);
    padding-left: var(--padding-16px);
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.testimonials__title {
    text-align: center;
}

/* _______________________________________________________________  Carousel container with All Buttons and the indicator */

.testimonials__carousel {
    display: flex;
    flex-direction: column;
    gap: var(--gap-64px);
    width: 100%;
    max-width: 108rem;
}

/* _______________________________________________________________  Carousel container with left and right Buttons */

.testimonials__carousel-items {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* _______________________________________________________________  Items/testimonials/card Container */


.testimonials__carousel-items-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    gap: var(--gap-18px);
    overflow: hidden;
}


/* _______________________________________________________________  Card / item */
.testimonials__carousel-item {
    /* flex: 1; */
    border-radius: var(--br-10px);
    background-color: var(--color-aqua-100);
    padding: var(--padding-32px) var(--padding-20px);
    gap: var(--gap-18px);
    width: 200px;
}

.testimonials__carousel-item-text-block {
    align-self: stretch;
    width: auto;
}

.testimonials__carousel-item,
.testimonials__carousel-item-text-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.testimonials__carousel-item-image {
    position: relative;
    border-radius: var(--br-500px);
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.testimonials__carousel-item-text-block{
    align-self: stretch;
    gap: var(--gap-16px);
}
/* __________________________________________________________________________________________________________________________tablet */


@media screen and (min-width: 390px) {

}


/* __________________________________________________________________________________________________________________________Small Laptop */


@media screen and (min-width: 720px) {


    /* _______________________________________________________________  Section */

    .testimonials {
        padding-left: var(--padding-20px);
    }
}


/* __________________________________________________________________________________________________________________________Desktop */


@media screen and (min-width: 1200px) {}
