*,
*:before,
*:after {
  box-sizing: border-box;
}

li {
    list-style-type: none;
}
  

.container {
    width: 100%;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  max-width: 1080px;
  /* height: 200px;  */
  /* margin: 0 auto; */
}

.testimonials__carousel-items-holder2 {
    background-color:blueviolet;
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}

.slide {
  height: 100%;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
  flex: 0 0 calc(31%);
}

.slide-1 {
  background-color: darkblue;
}

.slide-2 {
  background-color: green;
}

.slide-3 {
  background-color: red;
}

.slide-4 {
  background-color: purple;
}

.slide-5 {
  background-color: pink;
}

.nav {
  /* position: absolute; */
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.9);
  width: 40px;
  height: 40px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
}