.hero,
.hero__container {
  display: flex;
  align-items: center;
}

.hero {
    align-self: stretch;
    background: linear-gradient(2.4deg, #5d19ff, #008eff);
    justify-content: center;
    padding: 10rem var(--padding-base);
}

.hero__container {
    flex-direction: column;
    gap: var(--gap-29xl);
    justify-content: center;
    /* align-self: stretch; */
    width: auto;
}

.hero__text-block {
    text-align: left;
    font-size: var(--h1-desktop-size);
    color: var(--color-white);
    font-family: var(--h3-desktop);

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.8rem;
}

.hero__text-block-title {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
}


.hero__text-block-text {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--link-desktop-size);
    line-height: 2.4rem;
    font-family: var(--link-desktop);
}

.hero__image {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    /* height: 37.45rem; */
    /* object-fit: cover; */
}

.hero__image {
    height: 50%;
}

.hero__image,
.hero__text-block {
  flex: unset;
  align-self: stretch;
}

/* _________________________________________________________________________Tablet */

@media screen and (min-width: 390px) {



}

/* _________________________________________________________________________Small Laptop */

@media screen and (min-width: 720px) {

    .hero {
        padding: var(--padding-xl) 2rem;
        height: 80vh;
    }

    .hero__container {
        flex-direction: row;
        gap: var(--gap-xl);
        /* align-self: stretch; */
        justify-content: space-between;
        align-items: center;
    }

    .hero__text-block {
        /* width: fit-content; */
        justify-content: center;
    }


}

/* _________________________________________________________________________Desktop */

@media screen and (min-width: 1200px) {

    .hero__container {
        width: 108rem;
    }

    
}