.hero,
.datalitica-website {
    /* position: relative; */
    background-color: var(--color-white);
    /* width: 100%; */
    overflow: hidden;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    /* font-size: var(--h2-desktop-size); */
    /* color: var(--dark-base); */
    /* font-family: var(--h3-desktop); */
}

/* ________________________________________________________________________ NAVBAR */

.navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    padding: var(--padding-base) 0;
    box-sizing: border-box;
    gap: var(--gap-13xl);
    position: fixed;
    z-index: 2;
}

.navbar__elements-container {
    width: 108rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: var(--gap-0);
    align-self: stretch;
    width: auto;
}

.navbar__logo-icon {
    position: relative;
    width: 17.42rem;
    height: 3.2rem;
}

.navbar__hamburguer-menu-icon {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    overflow: hidden;
    flex-shrink: 0;
}

.navbar__buttons-container {
    display: none;
}

.navbar {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
}

.navbar__hamburguer-menu-icon {
    display: flex;
}

/* ________________________________________________________________________ HERO */

.hero,
.hero__container {
  display: flex;
  align-items: center;
}

.hero__container {
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-xl);
}

.hero {
    align-self: stretch;
    background: linear-gradient(2.4deg, #5d19ff, #008eff);
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    max-height: 90%;
    text-align: left;
    font-size: var(--h1-desktop-size);
    color: var(--color-white);
    font-family: var(--h3-desktop);
}

.hero__text-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.8rem;
}

.hero__text-block-title {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
}

.hero__text-block-text {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--link-desktop-size);
    line-height: 2.4rem;
    font-family: var(--link-desktop);
}

.hero__image {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 37.45rem;
    object-fit: cover;
}

/* 1027 */

@media screen and (max-width: 1200px) {
    .hero {
        height: auto;
        padding: var(--padding-81xl) 2rem;
        box-sizing: border-box;
    }

    .hero__container {
        align-self: stretch;
        width: auto;
    }

    .hero__image {
        height: 50%;
    }

}



/* 1219 */

@media screen and (max-width: 720px) {

    .hero {
        padding-left: var(--padding-base);
        padding-right: var(--padding-base);
        box-sizing: border-box;
    }

    .hero__container {
        flex-direction: column;
        gap: var(--gap-29xl);
    }

    .hero__image,
    .hero__text-block {
      flex: unset;
      align-self: stretch;
    }

}

/* 1407 - 1413 */
@media screen and (max-width: 390px) {

    /* All that remains here, put it above */


}


@media screen and (min-width: 390px) {

    
/* ________________________________________________________________________ NAVBAR */

    /* _________Remove this after mobile first */


    /* _____________________UNTIL HERE REMOVE */

}


@media screen and (min-width: 720px) {

/* ________________________________________________________________________ NAVBAR */

    .navbar {
        box-sizing: border-box;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .navbar__hamburguer-menu {
        display: none;
    }

    .navbar__buttons-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--gap-base);
    }

    .navbar__button-contact-us {
        width: 20rem;
    }
    
    .navbar-button-schedule {
        width: 20rem;
    }



}

@media screen and (min-width: 1200px) {

/* ________________________________________________________________________ NAVBAR */

    .navbar__elements-container{
        align-self: center;
        width: 108rem;
    }

/* ________________________________________________________________________ HERO */
    .hero__container {
        width: 108rem;
    }

    
}

