.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--padding-100px) 0;
    padding-left: var(--padding-16px);
    padding-right: var(--padding-16px);
    color: var(--dark-base);
}

.contact__container {
    width: 100%;
    max-width: 108rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap-20px);
}

.contact__form-title-n-text {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contact__form,
.contact__image {
    align-self: stretch;
    flex: 1;
}

.contact__form {
    align-self: stretch;
    flex: 1;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: var(--padding-32px);
}

.contact__image {
    object-fit: cover;
    max-width: 100%;
}


.contact__form-disclaimer1 {
    text-align: right;
}

.error-message {
    color: red;
}

/* _______________________________________________________Checkbox Section */

.checkbox-validation {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16px);
}

.contact__form-terms-n-conditions-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1.2rem;
    overflow: hidden;
}

.contact__form-terms-checkbox {
    display: none;
}

.contact__form-terms-checkmark {
    min-width: 3.2rem; 
    min-height: 3.2rem; 
    /* background-color: var(--base-gray); */
    border-radius: 0.8rem;
    margin-right: 1rem;
    border: 0.25rem solid var(--primary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.contact__form-terms-n-conditions-checkbox:hover .contact__form-terms-checkmark {
    background-color: var(--accent-turquoise);
}

.contact__form-terms-checkbox:checked ~ .contact__form-terms-checkmark {
    background-color: var(--primary);
}

.contact__form-terms-checkmark:after {
    content: "";
    display: none;
}

.contact__form-terms-checkbox:checked ~ .contact__form-terms-checkmark:after {
    display: block;
}

.contact__form-terms-checkmark:after {
    content: "";
    width: 0.5rem;
    height: 1.8rem;
    border: 0.4rem solid white;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
}




/* _______________________________________________________Disclaimer 2 */

.contact__form-button-n-disclaimer2 {
    display: flex;
    flex-direction: column;
    gap: var(--gap-32px);
    justify-content: center;
}

.contact__form-disclaimer2 {
    display: flex;
    flex-direction: row;
    gap: var(--gap-8px);
    align-items: center;
}

.contact__form-disclaimer2-icon{
    width: 3.2rem;
    height: 3.2rem;
}

.contact__form-name-field,
.contact__form-email-field,
.contact__form-message-field {
    display: flex;
    flex-direction: column;
    gap: var(--gap-4px);
}
.contact__form-name-input::placeholder,
.contact__form-email-input::placeholder,
.contact__form-message-input::placeholder {
    color: rgba(0, 35, 64, 0.3);
}

.contact__form-name-input,
.contact__form-email-input,
.contact__form-message-input {
    color: var(--dark-base);
    padding: var(--padding-8px);
    border: 1px solid var(--dark-base);
    border-radius: 8px;
}

.contact__form-message-input {
    min-height: 10rem;
}

/* _________________________________________________________________________ Thank you banner */

.thank-you-message {
    align-self: stretch;
    flex: 1;
    text-align: center;
    padding: var(--padding-48px);
    background-color: var(--base-gray);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-32px);
    border-radius: var(--br-16px);
}

.thank-you-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.thank-you-text {
    font-size: 18px;
}

/* _________________________________________________________________________Tablet */

@media screen and (min-width: 390px) {



}


/* _________________________________________________________________________Small Laptop */

@media screen and (min-width: 720px) {

    .contact__container {
        flex-direction: row;
        gap: var(--gap-20px);
    }

    .contact__form,
    .contact__image {
        align-self: center;
    }

    .contact__image {
        overflow: hidden;
    }

    .contact__form-button-n-disclaimer2 {
        flex-direction: row;
        justify-content: space-between;
    }

}


/* _________________________________________________________________________Desktop */

@media screen and (min-width: 1200px) {

}
  