.expertise {
    display: flex;
    align-self: stretch;
    /* padding: var(--padding-100px) 0; */
    text-align: center;
    justify-content: center;
}

.expertise__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0;
    background-color: rgba(231, 233, 234, 0.4);
    overflow: hidden;
    padding: var(--padding-100px) var(--padding-16px);
    position: relative;
    gap: 1rem;
    width: auto;
}

.expertise__content-container {
    flex-direction: column;
    align-items: center;
    gap: 5.6rem;
}

.expertise__text-block {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-32px);
    color: var(--dark-base);
}

.expertise__text-block-text,
.expertise__text-block-title {
    position: relative;
    text-align: left;
    width: 100%;
}

.expertise__card,
.expertise__card-text-block {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-16px);
}
.expertise__card {
    flex: 1;
    border-radius: var(--br-10px);
    background-color: var(--color-white);
    padding: var(--padding-32px) var(--padding-20px);
    gap: var(--gap-18px);
}

.expertise__cards-container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-20px);
    text-align: left;
}
.expertise__cards-container,
.expertise__content-container {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
}

.expertise__card-icon {
    position: relative;
    width: 10.76rem;
    height: 9rem;
}
.expertise__card-icon {
    width: 9rem;
    overflow: hidden;
    flex-shrink: 0;
}

.expertise__card-icon {
    position: relative;
    width: 9rem;
    height: 9rem;
}

.expertise__bg-image-icon {
    display:none;
}


/* _________________________________________________________________________Tablet */

@media screen and (min-width: 390px) {

    .expertise__bg-image-icon {
        display: inline-block;
        position: absolute;
        margin: 0;
        top: 10%;
        left: -25%;
        width: 44rem;
        height: 44rem;
        object-fit: cover;
        z-index: -1;
    }

}

/* _________________________________________________________________________Small Laptop */

@media screen and (min-width: 720px) {

    .expertise {
        padding-left: var(--padding-20px);
        padding-right: var(--padding-20px);
    }

    .expertise__container {
        padding: var(--padding-150px) 2rem;
        border-radius: var(--br-10px);
    }

    .expertise__text-block {
        /* width: 52.6rem; */
        justify-content: center;
    }

    .expertise__text-block-text,
    .expertise__text-block-title {
        text-align: center;
    }

    .expertise__text-block-title {
        width: 100rem;
    }
    .expertise__text-block-text {
        width: 52.6rem;
    }

    .expertise__cards-container {
        flex-direction: row;
    }

    .expertise__bg-image-icon {
        top: calc(50% - 258px);
        left: -25%;
        width: 56.1rem;
        height: 56.3rem;
    }

}

/* _________________________________________________________________________Desktop */


@media screen and (min-width: 1200px) {

    .expertise {
        padding: 0;
    }

    .expertise__container {
        width: 108rem;
    }

}