.index {
    display: flex;
    justify-content: center;
    background-color: var(--dark-base);
    position: sticky;
    top: 8rem;
    margin: 1rem 2rem;
    z-index: 5;
    color: var(--accent-turquoise);
    border-radius: var(--br-10px);

    box-shadow: 0px 0px 2px 4px rgba(255, 255, 255, 0.10);

}

.index-item-active__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-20px);
    align-items: center;
    border-bottom: 0;
}

.index-item-active__container.show {
    border-bottom: 1px solid white;
}

.index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0;
}

.index-container.show {
    gap: var(--gap-32px);
    padding-bottom: var(--padding-16px);
}


.index-item {
    display: none;
    text-decoration: none;
    text-align: center;
    position: relative;
    color: inherit;
}

.index-item.active {
    background-color: var(--primary);
    border-radius: var(--br-10px);
}

/* Animation */

.index-item {
    transition: opacity 0.3s ease-in-out;
}

.index-item.show {
    display: flex;
    opacity: 1;
}

.index-item-active__drowdown-icon {
    transition: transform 0.3s ease-in-out;
}

.index-item-active__drowdown-icon.rotate {
    transform: rotate(180deg);
}




/* _________________________________________________________________________Tablet */

@media screen and (min-width: 390px) {

}

/* _________________________________________________________________________Small Laptop */

@media screen and (min-width: 720px) {

    .index {
        flex-direction: row;
        top: 7.2rem;
        height: 7.2rem;
        padding: 0 2rem;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .index-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        padding: 0;
    }

    .index-container.show {
        gap: 0;
        padding-bottom: 0;
    }

    .index-item-active__container {
        display: none;
    }

    .index-item {
        display: flex;
    }

}

/* _________________________________________________________________________Desktop */

@media screen and (min-width: 1200px) {

    .index {
        justify-content: center;
    }
    .index-container {
        width: 108rem;
        padding: 0;
    }
}