.index {
    display: flex;
    justify-content: center;
    background-color: var(--dark-base);
    position: sticky;
    top: 8rem;
    margin: 1rem 2rem;
    z-index: 5;
    color: var(--accent-turquoise);
    border-radius: var(--br-10px);
}

.index-item-active__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-16px);
    align-items: center;
    /* border-bottom: 1px solid white; */ /* Agregar y quitar con JS */
}

/* .index-item-active__drowdown-icon {

} */ /* Darle vuelta con JS */

.index-container {
    /* align-self: stretch; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* gap: var(--gap-32px); */ /* Agregar y quitar con JS */
}
    
.index-item {
    display: none; /* Cambiar a flex con JS */
    text-decoration: none;
    text-align: center;
    position: relative;
    color: inherit;
}
    
/* _________________________________________________________________________Tablet */

@media screen and (min-width: 390px) {

}

/* _________________________________________________________________________Small Laptop */

@media screen and (min-width: 720px) {

    .index {
        flex-direction: row;
        top: 7.2rem;
        height: 7.2rem;
        padding: 0 2rem;
        margin: 0;
        border-radius: 0;
    }

    .index-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
        padding: 0;
    }

    .index-item-active__container {
        display: none;
    }

    .index-item {
        display: flex;
    }

}

/* _________________________________________________________________________Desktop */

@media screen and (min-width: 1200px) {

    .index {
        justify-content: center;
    }
    .index-container {
        width: 108rem;
        padding: 0;
    }
}