.index {
    background-color: var(--dark-base);
    position: sticky;
    top: 6rem;
    width: 100%;
    z-index: 5;
    color: var(--accent-turquoise);
    display: none;
}
    
.index-container {
    align-self: stretch;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
    
.index-item {
    text-decoration: none;
    text-align: center;
    position: relative;
    color: inherit;
}
    
/* _________________________________________________________________________Tablet */

@media screen and (min-width: 390px) {

}

/* _________________________________________________________________________Small Laptop */

@media screen and (min-width: 720px) {

    .index {
        display: flex;
        padding: 2rem 2rem;
    }

    .index-container {
        width: 100%;
    }

}

/* _________________________________________________________________________Desktop */

@media screen and (min-width: 1200px) {

    .index {
        justify-content: center;
    }
    .index-container {
        width: 108rem;
        padding: 0;
    }
}