
.industries {
    display: flex;
    padding: var(--padding-150px) var(--padding-16px);
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.industries__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6.5rem;
    z-index: 0;

    /* align-self: stretch; */
    width: auto;
}

.industries__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-16px);
    /* align-self: stretch; */
    width: auto;
}

.industries__items-container {
    /* align-self: stretch; */
    display: flex;
    justify-content: space-between;
    gap: var(--gap-16px);
    width: auto;
    flex-wrap: wrap;
    text-align: center;
    color: var(--color-black);
}

.industries__item {
    flex: unset;
    height: 19.6rem;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-16px);
    width: 45%;
}

.industries__item-icon {
    /* position: relative; */
    width: 10rem;
    height: 10rem;
    /* overflow: hidden; */
    flex-shrink: 0;
}

.industries__bg-image-icon {
    position: absolute;
    margin: 0;
    top: 10vh;
    left: 80vw;
    /* width: 72.2rem;
    height: 72.5rem; */
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    z-index: 0;
    /* display: none; */
}


@media screen and (min-width: 720px) {

    .industries {
        padding-left: var(--padding-20px);
        padding-right: var(--padding-20px);
    }

    .industries__text-container {
        width: 43.8rem;
    }

    .industries__item {
        width: 18%;
    }

    .industries__bg-image-icon {
        top: 15vh;
        left: 75vw;
        width: 50rem;
        height: 50rem;
    }

}

@media screen and (min-width: 1200px) {

    .industries__container {
        width: 108rem;
    }

    .industries__bg-image-icon {
        top: 50%;
        width: 72.2rem;
        height: 72.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 850px;
    }

} 