.footer {
    display: flex;
    background-color: var(--dark-base);
    padding: 6.4rem var(--padding-16px);
    color: var(--color-white);
}

.footer__container {
    background: green;
    width: 108rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__right-container,
.footer__social-media-icons {
    gap: var(--gap-32px);
}
.footer__right-container {
    flex-direction: column;
    gap: var(--gap-16px);
    text-align: center;
}

.footer__email {
    color: inherit;
    text-align: left;
}

.footer__facebook-button-image-icon {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}
.footer__social-media-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.footer__left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-32px);
}

.footer__logo {
    position: relative;
    width: 34.8rem;
    height: 6.39rem;
    overflow: hidden;
    flex-shrink: 0;
}


/* 1027 */

@media screen and (max-width: 1200px) {    

    .footer,
    .footer__container {
      align-self: stretch;
      width: auto;
    }
    .footer {
      padding-left: 2rem;
      padding-right: 2rem;
      box-sizing: border-box;
    }

}


/* 1219 */

@media screen and (max-width: 720px) {

    .footer__left-container {
        gap: var(--gap-64px);
        align-items: center;
        justify-content: center;
      }
      .footer__social-media-icons {
        gap: var(--gap-48px);
      }
      .footer__container,
      .footer__right-container {
        height: auto;
        gap: var(--gap-64px);
        align-items: center;
        justify-content: center;
      }
      .footer__container {
        flex-direction: column;
        gap: var(--gap-48px);
      }
      .footer {
        padding-left: var(--padding-16px);
        padding-right: var(--padding-16px);
        box-sizing: border-box;
      }

}

/* 1407 - 1413 */
@media screen and (max-width: 390px) {


}


@media screen and (min-width: 390px) {


}


@media screen and (min-width: 720px) {



}

@media screen and (min-width: 1200px) {



}